<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="posts">
	<div class="jumbotron" style="background-color:#ffe6e6">
    <div class="starter-template panel" th:each="post : ${pager.posts}">		<!-- for each loop -->
        <div class="panel-heading">
            <h2><a th:text="${post.title}" th:href="@{'/blog/getpost/' + ${post.postId}}">Title</a></h2>
            <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">
                Created by
            </div>
            <div><a th:text="${post.user.userName}" th:href="@{'/userblogs/' + ${post.user.userName}}">User</a>
            </div>
        </div>
        <h3 class="panel-body" th:text="${post.body}">Body</h3>
        <h4><a th:text=".....more" th:href="@{'/blog/getpost/' + ${post.postId}}">.....more</a></h4>
        <br></br>
    </div>

</div>
</div>
</body>
</html>